@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
padding: 0px;
margin: 0px;
}

:root {

  --font-family: 'Outfit', sans-serif;
  --clr-dark-blue: hsl(218, 44%, 22%);
  --clr-grayish-blue: hsl(220, 15%, 55%);
  --clr-light-grayish-blue: hsl(212, 45%, 89%);
  --clr-white: hsl(0, 0%, 100%);
}

body {
  font-family: var(--font-family);
  background-color: var(--clr-light-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--clr-white);
  border-radius: 15px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  text-align: center;
}

div.card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

div.card-content h1 {
  color: var(--clr-dark-blue);
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 15px;
}

div.card-content p {
  color: var(--clr-grayish-blue);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
  text-decoration-line: line-through;
}
div.card-content p1 {
  color: var(--clr-grayish-blue);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}


div.card-image img {
  justify-content: center;
  /* padding: 20px; */
  width: 100%;
  border-radius: 15px;
}




























































.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }